.navbar{
    width: 100%;
    height : 80px;
    background-color: var(--secondary);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:45px;
    padding-right: 20px;
}

.navbar-logo-section{
    width:25%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--text);
}

.navbar-logo-section:hover{
    color: var(--primary);
}

.navbar-option-section{
    width:75%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-option{
    height: 100%;
    width: fit-content;
    padding: 20px;
    color: var(--text);
    border-radius: 12px;
    cursor: pointer;
    margin-top: 2px;
}

.navbar-option:hover{
    color: var(--primary);
}

.navbar-link{
    text-decoration: none;
}

.navbar-search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--text) solid;
    border-radius: 22px;
    padding: 6px;
}

.navbar-search-input{
    height: 1.8rem;
    background-color: transparent;
    border: none;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 4px;
}

::placeholder{
    color: var(--text);
    opacity: 1;
}

.navbar-search-input:focus{
    outline: none;
}